section{
    height: auto;
}

#contenedor-videos{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px 40px;
}

#videos-columna {
    text-align: center;
}


#video video{
    width: 300px;
}

#video-texto{
    font-size: 16px;
    background-color: #BCD3B9;
    height: 30px;
    padding-top: 8px;
    margin-bottom: 10px;
    width: 300px;
    color: #F3F3D1;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    animation-name: color;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes color{
    0% {
        background-color: #36B125;
    } 50%{
        background-color: #F3B10E;
    }
    100%{
        background-color: #9c6841;
    }
}

#video-botones{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#video-botones button{
    width: 75px;
    height: 30px;
}

#video-botones button i{
    color: aliceblue;
}

button {
    background-color: #B9C8B7;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #36B125;
}


@media all and (min-width: 600px) and (max-width: 1024px) {
    


}  /* FIN de MEDIA 600 a 1024px ---------------------*/


@media all and (max-width: 599px) {

    
#contenedor-videos{
    padding: 15px 0px;
}

#videos-columna {
    width: 100%;
}

#video video{
    width: 70%;
}

#video-texto{
    font-size: 18px;
    height: 30px;
    width: 90%;
}

#video-botones{
    height: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

}  /* FIN de MEDIA 599px ---------------------*/
